<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h2> Add User</h2>
<br>

<form th:method="post" th:action="@{/addUser}" th:object="${user}" >

    <table>
        <tr><td>Name</td><td>
            <input th:type="text" th:field="*{name}" required  class="data"></td></tr>
        <tr><td>LastName</td><td>
            <input th:type="text" required th:field="*{lastName}" class="data"></td></tr>
        <tr><td>Email</td><td>
            <input th:type="text" required  th:field="*{email}" class="data"></td></tr>
        <tr><td colspan="2" height="20px"></td></tr>
        <tr style="text-align: right;"><td colspan="2">
            <input type="submit" value="Save User" />&nbsp;&nbsp;&nbsp;<a
                th:href="@{/}">Cancel</a></td></tr>
    </table><br>


</form>


</body>
</html>